body {
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: tan;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

/* Forum List */
.main-content h2 {
    text-align: center;
    color: #444;
}

.category {
    background-color: cadetblue;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: white;
}

.category h3 {
    margin: 0;
    font-size: 20px;
}

.forum-list {
    list-style-type: none;
    padding: 0;
}

.forum-list li {
    background-color: bisque;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
}

.forum-list li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.forum-list li:hover {
    background-color: tan;
}

/* Forum Detail */
.post-details {
    background-color: cadetblue;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.post-entry {
    font-size: 18px;
    margin: 10px 0;
}

.timestamp {
    font-size: 14px;
    font-style: italic;
    color: bisque;
    text-align: right;
}