body {
	font-family: 'Roboto', sans-serif;
	background-color: bisque;
	margin: 0px;
	height: 100vh; /* height of browser */
	display: flex;
	flex-direction: column;
}

hr {
	border: 1px solid black;
}

header {
	background-color: tan;
	padding: 5px 20px;
	text-align: center;
}

.menu {
	margin: 20px;
	display: flex;
}

.outer-heading {
	margin: 20px 40px;
}

.content-div {
	flex: 1;
	margin: 20px;
}

.main-content {
	background-color: cadetblue;
	padding: 30px 30px;
	border-radius: 20px;
}

.main-content::after {
    content: "";
	clear: both;
    display: table;
}

.category-section {
	margin-bottom: 50px;
}

.articles-list {
	list-style: none;
	flex-wrap: wrap;
	display: flex;
	gap: 20px;
}

.link-button {
	display: flex;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: bisque;
	border: 2px solid tan;
	text-decoration: none;
	color: black;
	text-align: center;
}

.link-button:hover {
	background-color: tan;
	color: white;
}

.article-image {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 300px;
	height: auto;
}

footer {
	background-color: rgb(175, 148, 108);
	padding: 2px 20px;
}

.footer-text {
	text-align: center;
}
