{% extends "user_management/layout.html" %}
{% load static %}

{% block page_title %}Password Reset | Hobbysite{% endblock %}

{% block style %}<style></style>{% endblock %}

{% block body %}

    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1>Password Reset Form</h1>
        <h6 style="width: 60%; margin: 0 auto">
        Please enter your new password so we can verify.
        </h6>
    </div>
    <br />
    <form action="" method="POST">
        {% csrf_token %} 
        {{form}}
        <input type="submit" value="Reset Password"/>
    </form>

    <!-- <form method=""post>
        {% csrf_token %}
        {{form.as_p}}
        <button type="Submit">Send</button>
    </form> -->
{% endblock %}