{% extends "user_management/layout.html" %}
{% load static %}

{% block page_title %}Register | Hobbysite{% endblock %}

{% block style %}<style></style>{% endblock %}

{% block body %}

    <div class="login-form">
    <form action="{% url 'register' %}" method="post" class="update-add-form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="display_name" placeholder="Display Name">
        <input type="email" name="email" placeholder="Email">
        <input type="submit" value="Register" class="button-container">
    </form>

     <!-- Display error message -->
     {% if messages %}
     <ul>
         {% for message in messages %}
             <li style="color: red;">{{ message }}</li>
         {% endfor %}
     </ul>
 {% endif %}
    </div>
{% endblock %}