{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- Imports Roboto font -->
    </head>
    <body>

        <nav>
            <a href="{% url 'user_management:home' %}">HOBBY SITE</a>
            <!-- <h2>HOBBY SITE</h2>
            <a href="{% url 'user_management:home' %}">Home</a> -->
            <!-- <a href="{% url 'wiki:wiki_list' %}">Wiki</a>
            <a href="{% url 'blog:blog_list' %}">Blog</a>
            <a href="{% url 'forum:forum_list' %}">Forum</a>
            <a href="{% url 'commissions:commission_list' %}">Commissions</a>
            <a href="{% url 'merchstore:show_products_list' %}">Merch Store</a> -->
        </nav>

        <div class="content-div">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>