{% extends "wiki/layout.html" %}

{% block title %}Wiki - Hobby Site{% endblock %}

{% block body %}
    {% if user_articles %}
        <div class="article-section">
            <span class="section-title">Your Articles</span>
            <div class="section-content">
                <ul>
                    {% for article in user_articles %}
                        <li><a href="{{ article.get_absolute_url }}" class="link-btn">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% for category in categories %}
        <div class="article-section">
            <span class="section-title">{{ category.name }}</span>
            <div class="section-content has-desc-border">
                <ul>
                    {% for article in non_user_articles %}
                        {% if article.category == category %}
                            <li><a href="{{ article.get_absolute_url }}" class="link-btn">{{ article.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <span class="section-desc">{{ category.description }}</span>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    <a href="{% url 'article_add' %}">Create article</a>
{% endblock %}