{% extends "wiki/layout.html" %}

{% block title %}
    Edit Article - Wiki
{% endblock %}

{% block body %}
    <div class="card-section">
        <span class="section-header">Edit Article</span>
        <form method="post" class="article-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ article_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <a href="{% url 'article_detail' article.id %}">Return to Article</a>
{% endblock %}