{% extends "wiki/layout.html" %}
{% load static %}

{% block title %}
    {{ article.title }} - Wiki
{% endblock title %}

{% block body %}
    <div class="article-section">
        <div class="header-section">
            <span class="section-header">{{ article.title }}</span>
            <span class="section-header subheader"><b>Category:</b> {{ article.category }}</span>
        </div>

        <div class="section-content has-desc-border">
            <img src="{{ article.header_image.url }}" alt="{{ article.title }}" class="article-img">
            <p>{{ article.entry | linebreaks }}</p>
        </div>

        <div class="section-desc">
            <b>Created on:</b> {{ article.created_on }}, UTC<br>
            <b>Last updated on:</b> {{ article.updated_on }}, UTC
        </div>
    </div>

    <div class="side-content">
        <h3>Read More :</h3>
        {% for article in related_articles %}
            <a href="{{ article.get_absolute_url }}" class="link-button">{{ article.title }}</a>
        {% endfor %}
    </div>

    <div class="main-content">
        <h2>Comments</h2>
        {% if user.is_authenticated %}
            <form method="post" style="margin-bottom:50px">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <div class="submit-wrapper">
                    <button type="submit" class="link-button">Comment</button>
                </div>
            </form>

            {% for comment in comments %}
                <hr>
                <div class="comment">
                    <h3>{{ comment.author }}</h3>
                    <p>{{ comment.entry | linebreaks }}</p>
                    <div class="comment-date">
                        Posted on: {{comment.created_on}}<br>
                        Last edited on: {{ comment.updated_on }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock body %}

{% block footer %}
    {% if article.author == user.profile %}
        <a href="{% url 'article_edit' article.id %}">Edit Article</a>
    {% endif %}
    <a href="{% url 'wiki_list' %}">Back to Articles</a>
{% endblock %}