{% extends "wiki/layout.html" %}

{% block title %}
    Wikipidiyi Articles
{% endblock %}

{% block body %}
    <h1 class="outer-heading">Articles</h1>
    <div class="main-content">
        {% if user_articles %}
            <div class="category-section">
                <h2>Your Articles</h2>
                <hr>
                <ul class="articles-list">
                    {% for article in user_articles %}
                        <li><a href="{{ article.get_absolute_url }}" class="link-button">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <h2>Other Articles</h2>
        <hr>
        {% for category in categories %}
            <div class="category-section">
                <h3>{{ category.name }}</h2>
                <p>{{ category.description }}</p>
                <ul class="articles-list">
                    {% for article in non_user_articles %}
                        {% if article.category == category %}
                            <li><a href="{{ article.get_absolute_url }}" class="link-button">{{ article.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}