{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'wiki/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- Imports Roboto font -->
    </head>
    <body>
        <nav>
            <a href="{% url 'home' %}">HOBBY SITE</a>
        </nav>
        <div class="content-div">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>