{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- Imports Roboto font -->
    </head>
    <body>
        <header>
            <h1>WIKIPIDIYI</h1>
            <h3>An online free "encyclopedia"</h3>
        </header>

        <div class="content-div">
            {% block body %}{% endblock %}
        </div>

        <footer>
            <p class>Hobby Site - Wikipidiyi</p>
        </footer>
    </body>
</html>