/* General Styles */
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #222831;
	height: 100vh; /* height of browser */
	display: flex;
	flex-direction: column;
}

header {
	background-color: tan;
	padding: 5px 20px;
	text-align: center;
}

nav {
	padding: 1px;
	text-align: center;
    margin-top: 20px;
	display: flex;
	justify-content: center;
}

nav a {
    color: #DFD0B8;
    text-decoration: none;
    margin: 0 15px;
    font-size: 30px;
    font-style: bold;
    background-color: #393E46;
    padding: 8px;
    border-radius: 10px;
}

.content-div {
    padding: 40px 20px 60px;
	display: flex;
	flex-direction: column;
	gap: 55px;
}

.card-section {
	flex: 1;
    margin: 40px auto;
    padding: 20px;
    background-color: #393E46;
    border-radius: 10px;
    color: #DFD0B8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dark-card {
	background-color: #222831;
}

.span-screen {
    width: 95%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 7px;
    align-items: center;
    display: flex;
    justify-content: center;
	gap: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* adds a nice shadow */
    opacity: 0.75;
}

footer a {
    color: #DFD0B8;
    text-decoration: none;
    font-size: 22px;
    font-style: bold;
    background-color: #393E46;
    padding: 1px 8px;
    border-radius: 10px;
}



/* Section Styles */
.article-section {
	display: flex;
	flex-direction: column;
}

.header-section {
	display: flex;
	gap: 10px;
}

.section-header {
	align-self: flex-start;
	background-color: #393E46;
	color: #00ADB5;
	font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
	border-bottom: 2px solid #00ADB5;
}

.subheader {
	font-weight: normal;
	font-size: auto;
	font-size: 16px;
	align-self: flex-end;
}

.section-content {
    border-radius: 0 10px 10px 10px;
    background-color: #948979;
	color: #222831;
    padding: 0 10px;
    margin-top: 0px;
}

.has-desc-border {
	border-bottom-right-radius: 0px;
}

.section-content p {
	margin: 40px;
    color: #222831;
	flex-wrap: wrap;
}

.section-content ul {
	list-style: none;
	display: flex;
	gap: 10px;
}

.btn {
    text-decoration: none;
	border: none;
    color: #DFD0B8;
    display: inline-block;
    padding: 10px 15px;
    background-color: #393E46;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #222831;
}

.section-desc {
	align-self: flex-end;
	text-align: right;
	background-color: #393E46;
	color: #DFD0B8;
	border-radius: 0 0 10px 10px;
	padding: 10px;
	max-width: 75%;
}



/* General Form Styles */
form {
	display: flex;
	flex-direction: column;
}

form button {
	display: block;
	width: fit-content;
    background-color: #00ADB5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form textarea {
	width: 100%;
    padding: 10px;
	box-sizing: border-box;
	min-height: 5em;
	resize: vertical;
}

form button:hover {
	background-color: #007f85;
}



/* Styles specific to article detail */
.article-img {
	float: right;
	margin: 40px 40px 20px 20px;
	border: 1px solid #222831;
	border-radius: 10px;
	width: 300px;
	height: auto;
}

.comment-form {
	width: 100%;
	align-self: center;
}

.comment-form button {
	align-self: flex-end;
}

.comment-textarea {
    border-radius: 6px;
    border: 1px solid #DFD0B8;
    background-color: #222831;
    color: #DFD0B8;
	height: 5em; /* 5 lines of text */
}

.comment {
	display: flex;
	flex-direction: column;
}

.comment p {
	margin: 0 2.5% 20px;
}

.comment .comment-date {
	text-align: right;
	font-size: 12px;
}



/* Styles specific to article add/update */
.article-form {
	width: 600px;
}

.article-form label {
	display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #DFD0B8;
}

.article-form a {
	color: #faf3e7;
	display: inline-block;
}

.article-form a:hover {
	color: #ddd3c0;
}

.article-form a:active {
	color: #cfc1a9;
}

.article-form input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #DFD0B8;
    background-color: #222831;
    color: #DFD0B8;
    box-sizing: border-box;
    margin-bottom: 15px;
}



/* Alignment fix for image clear */
.article-form input[type="checkbox"] {
	display: inline;
	width: fit-content;
}

.article-form label[for$="-clear_id"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
