{% extends "forum/layout.html" %}

{% block content %}
<h1 class="category-name">{{ thread.category.name }}</h1>
<div class="post-details">
    <h2>{{ thread.title }}</h2>
    <p>By {{ thread.author }} on {{ thread.created_on }}</p>
    <p>{{ thread.entry }}</p>
    {% if thread.image %}
        <img src="{{ thread.image.url }}" alt="Thread Image">
    {% endif %}
</div>

<hr>
<h3>Comments</h3>
{% for comment in comments %}
    <div class="post-entry">
        <p><strong>{{ comment.author }}</strong>: {{ comment.entry }}</p>
        <p class="timestamp">
            Created on: {{ comment.created_on }}, UTC <br>
            Updated on: {{ comment.updated_on }}, UTC
        </p>
    </div>
{% endfor %}

{% if user.is_authenticated %}
<hr>
<h3>Add a Comment</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% else %}
<p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
{% endif %}

<hr>
<h3>Related Posts</h3>
<ul>
    {% for related_thread in related_threads %}
        <li><a href="{% url 'forum_detail' forum_id=related_thread.id %}">{{ related_thread.title }}</a></li>
    {% endfor %}
</ul>

{% if thread.author == user.profile %}
    <a href="{% url 'thread_update' forum_id=thread.id %}">Edit Thread</a>
{% endif %}

<a href="{% url 'forum_list' %}">Back to Forum</a>

{% endblock %}