{% extends "forum/layout.html" %}

{% block content %}
<div class="main-content">
    <h2>Forum Threads</h2>

    {% if user_threads_by_category %}
    <div class="thread-section">
        <div class="thread-main">
            <h3>My Threads</h3>
        </div>
        {% for category, threads in user_threads_by_category.items %}
            {% if threads %}
                <div class="category">
                    <div class="top-left-section">
                        <h4>{{ category.name }}</h4>
                    </div>
                    <ul class="forum-list">
                        {% for title, thread_id in threads.items %}
                            <li>
                                <a href="{% url 'forum_detail' forum_id=thread_id %}">{{ title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="bottom-right-section">
                        <p>{{ category.description }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>

    <div class="thread-section">
        <div class="thread-main">
            <h3>Other Threads</h3>
        </div>
    {% for category, threads in other_threads_by_category.items %}
        {% if threads %}
            <div class="category">
                <div class="top-left-section">
                    <h4>{{ category.name }}</h4>
                </div>
                <ul class="forum-list">
                    {% for title, thread_id in threads.items %}
                        <li>
                            <a href="{% url 'forum_detail' forum_id=thread_id %}">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="bottom-right-section">
                    <p>{{ category.description }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <footer>
        <a href="{% url 'thread_create' %}">Create a New Thread</a>
    </footer>
</div>
{% endblock %}