{% extends "forum/layout.html" %}

{% block content %}
<div class="main-content">
    <h2>Create a New Thread</h2>
</div>

    <div class="new-category-add-form">
        <div class="top-left-section">
            <h4>New Category</h4>
        </div>
        <form method="POST" class="update-add-form">
            {% csrf_token %}
            {{ category_form.as_p }}
            <button type="submit" name="add_category">Submit Category</button>
        </form>
    </div> 

    <div class="new-thread-add-form">
        <div class="top-left-section">
            <h4>New Thread</h4>
        </div>
        <form method="POST" enctype="multipart/form-data" class="update-add-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="add_thread">Submit Thread</button>
        </form>
    </div>

    <footer>
        <a href="{% url 'forum_list' %}">Back to Forum</a>
    </footer>
{% endblock %}