{% extends "forum/layout.html" %}

{% block content %}
<div class="main-content">
    <h2>Create a New Thread</h2>
</div>

    <h3>New Category</h3>
    <form method="POST">
        {% csrf_token %}
        {{ category_form.as_p }}
        <button type="submit" name="add_category">Submit Category</button>
    </form>
    <hr>

    <h3>New Thread</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="add_thread">Submit Thread</button>
    </form>

    <a href="{% url 'forum_list' %}">Back to Forum</a>
{% endblock %}