{% extends "layout.html" %}

{% block title %}
	Wikipidiyi Articles
{% endblock title %}

{% block body %}
	<div class='main-content'>
		<h1>Articles</h1>
		{% for category in categories %}
			<h2>{{ category.name }}</h2>
			<hr>
			<p>{{ category.description }}:</p>
		
			<!-- Find and list all articles from the category -->
			<ul>
				{% for article in articles %}
					{% if article.category == category %}
						<li><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
{% endblock body %}