{% extends "blog/layout.html" %}

{% block body %}
    <!-- User's Articles Section -->
    {% if user.is_authenticated and user.profile %}
        <div class="top-left-section">
            <h4>Your Articles</h4>
        </div>
        <div class="article-category">
            <ul class="article-category-list">
                {% for article in user_articles %}
                    <li>
                        <a href="{% url 'article_details' article.pk %}">{{ article.title }}</a>
                    </li>
                {% empty %}
                    <li>No articles yet. <a href="{% url 'article_create' %}">Write one?</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Articles by Category -->
    {% for category, articles in articles_by_category.items %}
        <div class="top-left-section">
            <h4>{{category.name}}</h4>
        </div>
        <div class="article-category">
            <div class="article-category-description">
                <!-- New Light Grey Box for Description -->
                <div class="category-description-box">
                    <p>{{ category.description }}</p>
                </div>
            </div>
            <ul class="article-category-list">
                {% for article in articles %}
                    <li>
                        <a href="{% url 'article_details' article.pk %}">{{ article.title }}</a>
                    </li>
                {% empty %}
                    <li>No articles available.</li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <p>No categories available.</p>
    {% endfor %}

    <!-- Centered Create Article Box at Bottom -->
    {% if user.is_authenticated and user.profile %}
        <footer>
            <a href="{% url 'article_create' %}" class="create-link-button">Create New Article</a>
        </footer>
    {% endif %}
{% endblock %}
