{% extends "blog/layout.html" %}

{% block body %}
    <div class="article-details">
        <h1>Edit Article</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>

    <!-- Back link outside the brown box -->
    <div class="bottom-create-container">
        <a href="{% url 'article_details' article.pk %}" class="create-link-button">Back to Article</a>
    </div>
{% endblock %}
