{% extends "layout.html" %}

{% block content %}
<div class='main-content'>
    <h2>Forum Threads</h2>
    
    {% for category in categories %}
        <div class="category">
            <h3>{{ category.name }}</h3>
            <p>{{ category.description }}</p>
            <hr>
            
            <ul class="forum-list">
                {% for post in posts %}
                    {% if post.category == category %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}