{% extends "commissions/layout.html" %}

 {% block body %}
     <ul>
         {% for commission in commission_list %}
             <ul>
                <div class="commission">
                    <a href="{% url 'commission_detail' commission.id %}">{{ commission.title }}</a>
                    <p>description: {{ commission.description }}</p>
                    <p>people required: {{ commission.people_required }}</p>
                    <div class="dates">
                        <p>created on: {{ commission.created_on }}</p>
                        <p>updated on: {{ commission.updated_on }}</p>
                    </div>
                </div>
            </ul>
         {% endfor %}
     </ul>
 {% endblock %}