{% extends "commissions/layout.html" %}

{% block title %}{{ commission.title }}{% endblock %}

{% block body %}
    <h2>{{ commission.title }}</h2>
    <p>{{ commission.description }}</p>

    <h3>Comments:</h3>
    <ul>
        {% for comment in comments %}

            <ul>
                <div class="commission">
                </p>{{ comment.entry }}</p>
                    <div class="dates">
                        <p>created on: {{ comment.created_on }}</p>
                        <p>updated on: {{ comment.updated_on }}</p>
                    </div>
                </div>
            </ul>
        {% empty %}
            <div class="commission">
            <p>No comments.</p>
            <div>
        {% endfor %}  
    </ul>
{% endblock %}