{% extends "commissions/layout.html" %}

{% block title %}{{ commission.title }}{% endblock %}

{% block body %}
    <h2>{{ commission.title }}</h2>
    <p>{{ commission.description }}</p>
    <p>Status: {{ commission.get_status_display }}</p>

    <h3>Jobs:</h3>
    <ul>
        {% for job in job_details %}

            <ul>
                <div class="commission">
                </p>{{ job.job.role }} - Max: {{ job.job.people_required }}, Current:  {{ job.accepted_applicants }}</p>
                </div>
            </ul>
        {% empty %}
            <div class="commission">
            <p>No Jobs.</p>
            <div>
        {% endfor %}  
        <a href="{% url 'job_create' commission_id=commission.id %}">
            <button>Create Job</button>
        </a>
        
    </ul>
{% endblock %}