{% extends "commissions/layout.html" %}
{% load static %}

{% block body %}

    <div class="whole-update-add-form">
        <div class="top-left-section">
            <h4>Create/Edit Commission</h4>
        </div>
        <form method="POST" class="update-add-form">
            {% csrf_token %}
            {{ commission_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

    <footer>
        <a href="{% url 'commission_list' %}">Back to list of all commissions</a>
    </footer>
{% endblock %}
