{% extends "blog/layout.html" %}

{% block body %}
    {% regroup articles|dictsort:"category.name" by category as category_list %}

    {% for category in category_list %}
        <div class="article-category">
            <div class="article-category-description">
                <h2>{{ category.grouper.name }}</h2></span> 
                <p>| {{category.grouper.description }}</p>
            </div>
            <ul class="article-category-list">
                {% for article in category.list|dictsortreversed:"created_on" %}
                    <li>
                        <a href="{% url 'article_details' article.pk %}">{{ article.title }}</a>
                    </li>
                {% empty %}
                    <li>No articles available.</li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <p>No categories available.</p>
    {% endfor %}
{% endblock %}
