{% extends "merchstore/layout.html" %}
{% block body %}
    <div class="whole-update-add-form">
        <div class="top-left-section">
            <h4>Add Product</h4>
        </div>
        <form method="post" class="update-add-form">
            {% csrf_token %}
            {{ add_product_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

    <footer>
        <a href="{% url 'show_products_list'%}">Back to list of all products</a>
    </footer>
{% endblock %}