{% extends "merchstore/layout.html" %}
{% block body %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="product-details-whole">
        <div class="product-details">
            {% for detail in product_qs %}
                <div class="top-left-section">
                    <h4>{{ detail.name }}</h4>
                </div>
                <div class="product-detail-block">
                    <div class="product-info">
                        <p><strong>Price:</strong> {{ detail.price }}</p>
                        <p><strong>Type:</strong> {{ detail.product_type.name }}</p>
                        <p><strong>Description:</strong> {{ detail.description }}</p>
                        <p><strong>Stock:</strong> {{ detail.stock }}</p>
                        <p><strong>Status:</strong> {{ detail.get_status_display }}</p>
                        <p><strong>Owner:</strong> {{ detail.owner }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if product_obj.owner != profile %}
            <form method="post" class="purchase-form">
                {% csrf_token %}
                <h2>Buy Product</h2>
                {{ buy_product_form.as_p }}
                <button type="submit" {% if product_obj.stock <= 0 %}disabled{% endif %}>BUY</button>
            </form>
            <footer>
                <a href="{% url 'show_products_list' %}">Back to list of all products</a>
            </footer>
        {% else %}
            <footer>
                <a href="{% url 'update_product' product_obj.id %}">Update/Edit your product</a>
                <a href="{% url 'show_products_list' %}">Back to list of all products</a>
            </footer>
        {% endif %}
    </div>
{% endblock %}
