{% extends 'merchstore/layout.html' %}

{% block title %}Merchstore - Hobby Site{% endblock %}

{% block body %}
    
    <div class="product-section">
        <div class="top-left-section">
            <h4>your products</h4>
        </div>
        <div class="product-type">
            <ul class="product-type-list">
                {% for product in users_products_list %}
                    <li>
                        <a href="{% url 'show_product_details' product.id %}" class="btn">
                            {{ product.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% for product_type in product_type_list %}
        <div class="product-section">
            <div class="top-left-section">
                <h4>{{ product_type }}</h4>
            </div>
            <div class="product-type">
                <ul class="product-type-list">
                    {% if product_type.name != "Others" %}
                        {% for product in not_users_products_list %}
                            {% if product_type == product.product_type %}
                                <li>
                                    <a href="{% url 'show_product_details' product.id %}" class="btn">
                                        {{ product.name }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for product in null_product_type_list %}
                            {% if product.owner != profile %}
                                <li>
                                    <a href="{% url 'show_product_details' product.id %}" class="btn">
                                        {{ product.name }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="product-section-description">
                <p>desc: {{ product_type.description }}</p>
            </div>
        </div>
    {% endfor %}
    
    <footer>
        <a href="{% url 'add_product' %}">Add new product</a>
        <a href="{% url 'show_cart' %}">Show cart</a>
        <a href="{% url 'show_transactions' %}">Show transactions</a>
    </footer>
{% endblock %}